@model CrystalReportTest.Models.vwEmpShortListDistinct

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>vwEmpShortListDistinct</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Join_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Join_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceUpto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceUpto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Desig_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Desig_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perm_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perm_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pres_Add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pres_Add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Head_Quarter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Head_Quarter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOthersAllowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOthersAllowance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Special)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Special)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OldID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OldID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sheet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sheet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Insurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Insurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeZoneID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeZoneID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_BGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_BGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Ref1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Ref1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Ref2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Ref2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.X_Emp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.X_Emp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AcademicRecords)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AcademicRecords)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Cat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cont_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cont_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal_Phone)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
